/* Styling for the body */
/* Styling for the body */

.logo {
    width: 100px;
    height: 80px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DBC1AD;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: slideshow 20s infinite linear; /* Apply animation */
}

/* Keyframes for slideshow animation */



/* Styling for the form container */
form {
    background-color: #F3E8EB;
    padding: 40px;
    width: 500px;
    height: max;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    text-align: center; 
}

.formcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-book-container {
    display: flex;
    flex-direction: column;
}

.form-container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 10px;
}

/* Styling for form elements */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    color: black;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 0 auto;
    background-color: #433E49;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: background-color 0.3s;
}

a {
    text-decoration: none;
    color: black;
}

button:hover {
    background-color: #928490;
}
