/*header stling */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.user_auth {
    display: flex;
    gap: 25px;
    height: 40px;
}
 /*section styles */
section{
    padding: 20px; /* Add padding inside the section with 20px */
    border-radius: 8px; /* Set border radius to create rounded corners */
    color:black; /* Set text color to white*/
    text-align: center; /* have the text aligned at the center */
    line-height: 2rem;
 }
    
    /* Styling for elements with class contact us */
.contact_us{
    display: grid; /* Use grid layout */
    grid-template-columns:  1fr 1fr 1fr; /* Divide the grid into 3 columns */
    gap: 10px; /* Set gap between grid items of 10px*/
    /*padding: 10px; /* Add padding inside the element distance between the wall and thecontent */
    height: 140px; /* Set height of the element to 70px */
     
        }
        /* Styling for element with id reach */
#reach{
            
     padding: 20px; /* Add padding inside the element distance between the wall and the content */
      border-radius: 4px; /* Set border radius to create rounded corners */    
      text-align: center; /* Center align text */
  }
  /* Footer styling */
footer {
            color:black; /* Set text color to white*/ 
            text-align: center; /* Center align text */ 
            line-height: 1rem;
              
            
     }
     /* Styling for element with id copy */
#copy{
            color:black; /* Set text color */
        

        }
  /* Body styling */
body{
    background-color: white /* Set background color */

}

 
/* Styling the home page */
#home{
     
    background-image: url('photo.jpeg'); /* Set background image */   
    text-align: center; /* Center align text */
     background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Do not repeat the background image to oavoid several small images*/
    background-position: center; /* Center the background image */
   color: rgb(7, 66, 117);  /* Set text color */
   font-size: x-large; /* Set font size */
   
     
} 
/*table styling */
table {
     
    width: 80%; /* Adjust the width of the table */
    margin: 0 auto; /* Center the table horizontally */     
     /* Set body display to flex, align items and justify content to center to center content vertically and horizontally */
    
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 60px;;
}
th, td {
    border: 2px solid rgb(187, 169, 187);
    text-align: left;
    padding: 8px;
}
th {
    background-color:rgb(221, 213, 213);
}

.about_us_section {
    padding-top: 1rem;
    font-size: 20px;
}

address {
    line-height: 1.5rem;
}
